.card {
  max-width: 80rem;
  height: 28rem;
  display: flex;
  background-color: #bdc3c7;
  padding: 2rem;
  border-radius: 10px;
}
.flag {
  width: 50%;
}
.info {
  padding: 0 2rem;

  position: relative;
}
.back:visited,
.back:link {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 1px 0px 4px #ecf0f1;

  display: flex;
  align-items: center;

  position: absolute;
  bottom: 0;
}
.iconBack {
  margin-right: 0.2rem;
  filter: drop-shadow(1px 1px 4px #ecf0f1);
}
.name {
  font-size: 3rem;
  margin-bottom: 1.3rem;
}
.groupInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 400;
}

.capital,
.currency,
.languages {
  font-weight: 700;
}

@media only screen and (min-width: 112.5em) {
}
@media only screen and (max-width: 75em) {
}
@media only screen and (max-width: 56.25em) {
}
@media only screen and (max-width: 37.5em) {
  .card {
    flex-direction: column;
    min-height: 65rem;
  }
  .flag{
    width: 100%;
  }
  .info{
    height: 100%;
    padding: 2rem 0;
  }
  
}
